.header{
    background: rgb(193,181,73);
    background: linear-gradient(40deg, rgba(193,181,73,0.9836135137648809) 0%, rgba(10,50,148,1) 0%, rgba(5,0,172,1) 66%, rgba(0,212,255,1) 100%); 
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.buttons button{
    width: 200px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.buttons button:hover{
    background-color: rgb(224, 221, 221);
    transition: background-color 0.3s;
}

