@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital@1&display=swap');

.app{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

a, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'Sometype Mono';
  background-color: rgb(242, 240, 240);
}

button{
  border-radius: 10px;
  width: 50px;
  margin: 5px;
  padding: 3px;
  border: none;
}

.deleteButton{
  background-color: rgb(220, 56, 56);
  color: rgb(232, 201, 201);
}

.deleteButton:hover{
  background-color: rgb(201, 114, 114);
}


.editButton{
  background-color: rgb(179, 186, 150);
  transition-duration: 0.7;
}

.editButton:hover{
  background-color: rgb(209, 215, 172);
}

.addUserButton{
  background-color: rgb(159, 192, 159);
  width: 120px;
  height: 40px;
}

.addUserButton:hover{
  background-color: rgb(164, 234, 164);
}

*{
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

