.userPage{
  height: 90%;
  padding: 30px;
  -webkit-box-shadow: -2px 24px 65px 9px rgba(66, 68, 90, 1);
  -moz-box-shadow: -2px 24px 65px 9px rgba(66, 68, 90, 1);
  box-shadow: -2px 24px 65px 9px rgba(66, 68, 90, 1);
}

.userList {
  display: flex;
  margin: 5px;
  border-bottom: 1px solid #aaa;
}

.userName {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.userMail {
  margin-left: 20px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-bottom: 5px;
}
